$black: palette(Black);
$grey-darker: palette(Grey, 800);
$grey-dark: palette(Grey, 700);
$grey: palette(Grey);
$grey-light: palette(Grey, 400);
$grey-lighter: palette(Grey, 300);
$white: palette(White);
$blue: palette(Light Blue);
$green: palette(Light Green);
$orange: palette(Deep Orange);
$purple: palette(Deep Purple);
$red: palette(Red);
$turquoise: palette(Teal);
$yellow: palette(Amber);

$primary: palette(Light Green);
$info: palette(Pink);
$success: palette(Green);
$text: palette(Black, Text);
